extends layout

block content
  h1= title
  p Welcome to #{title}
  div#assets
  div#num-provisioning
    span.provisioning-count 0
    span assets provisioning
    span.allocating-count 0
    span assets allocating
    span.unallocated-count 0
    span assets unallocated
    span Hardware type:
    span.hardware-type all

  script(src='/faye/client.js')
  script.
    $(function(){
      var Asset = Backbone.Model.extend({
        idAttribute: "TAG",
      });
      var Assets = Backbone.Collection.extend({
        model: Asset,
      });
      var ProvisioningAssetView = Backbone.View.extend({
        template: _.template($('#asset-template').html()),
        render: function(){
          var m = this.model.attributes;
          this.$el.html($(this.template(this.model.attributes)).addClass("asset-" + m.TAG));
          return this;
        }
      });
      var ProvisioningAssetsView = Backbone.View.extend({
        el: $('#assets'),
        initialize: function(){
          //TODO: listen to sort to reorder, error, etc
          this.listenTo(assets, 'add', this.addAsset);
          this.listenTo(assets, 'remove', this.removeAsset);
        },
        addAsset: function(asset, coll){
          var view = new ProvisioningAssetView({model: asset});
          this.$el.append(view.render().el);
        },
        removeAsset: function(asset, coll){
          console.log("remove");
          console.log(asset);
          $('.asset-' + asset.attributes.TAG).remove();
        }
      });

      var NumProvisioningHostsView = Backbone.View.extend({
        el: $('#num-provisioning'),
        initialize: function(){
          this.listenTo(assets, 'all', this.render);
          //TODO: uncomment when hardare_filter model is available
          //this.listenTo(hardware_filter, 'all', this.render);
        },
        render: function(){
          this.$el.find('span.provisioning-count').html(assets.filter(function(a){
            return a.get('STATUS') === "Provisioning";
          }).length);
          this.$el.find('span.allocating-count').html(assets.filter(function(a){
            return a.get('STATUS') === "Provisioned";
          }).length);
          this.$el.find('span.unallocated-count').html(assets.filter(function(a){
            return a.get('STATUS') === "Unallocated";
          }).length);
          //TODO: implement me
          //this.$el.find('span.hardware-type').html(hardware_filter.get('type'));
        }
      });

      // bootstrap in our collection, triggering events
      var bootstrapped_assets = !{JSON.stringify(assets)};

      // create collections (empty)
      var assets = new Assets();

      // create layouts and views
      var dash = new ProvisioningAssetsView();
      var provision_count = new NumProvisioningHostsView();

      // bootstrap in our models for inital render
      assets.add(bootstrapped_assets);


      // demonstrate how adding/removing models works
      setTimeout(function(){
        console.log("removing 003183");
        var x = assets.remove(assets.get('003183'));
        setTimeout(function(){
          console.log("adding 003183");
          assets.add(x);
        },2000);
      },2000);

      // set up a websocket and listen for events from server for messages
      var faye = new Faye.Client('/faye');
      faye.subscribe('/news',function(m){
        console.log("i got a news message: " + m);
      });
      faye.subscribe('/asset/add',function(m){
        console.log("asset added: " + m);
        assets.add(new Asset(m));
      });
      faye.subscribe('/asset/remove',function(m){
        console.log("asset removed: " + m.TAG);
        assets.remove(assets.get(m.TAG));
      });

    });

  script(type='text/template')#asset-template
    div.span12.asset-view
      span <%= TAG %>
      span <%= HOSTNAME %>
      span <%= STATUS %>
      span <%= NODECLASS %>




