extends layout

block content
  h1= title
  p Welcome to #{title}
  div#assets
  
  script(src='/primus/primus.io.js')
  script.
    $(function(){
      var Asset = Backbone.Model.extend({
        idAttribute: "TAG",
      });
      var Assets = Backbone.Collection.extend({
        model: Asset,
      });
      var AssetView = Backbone.View.extend({
        template: _.template($('#asset-template').html()),
        render: function(){
          var m = this.model.attributes;
          this.$el.html($(this.template(this.model.attributes)).addClass("asset-" + m.TAG));
          return this;
        }
      });
      var AssetsView = Backbone.View.extend({
        el: $('#assets'),
        initialize: function(){
          //TODO: listen to sort to reorder, error, etc
          this.listenTo(assets, 'add', this.addAsset);
          this.listenTo(assets, 'remove', this.removeAsset);
        },
        addAsset: function(asset, coll){
          var view = new AssetView({model: asset});
          this.$el.append(view.render().el);
        },
        removeAsset: function(asset, coll){
          console.log("remove");
          console.log(asset);
          $('.asset-' + asset.attributes.TAG).remove();
        }
      });

      // bootstrap in our collection, triggering events
      var bootstrapped_assets = !{JSON.stringify(assets)};

      // create collections (empty)
      var assets = new Assets();

      // create layouts and views
      var dash = new AssetsView();

      // bootstrap in our models for inital render
      assets.add(bootstrapped_assets);


      // demonstrate how adding/removing models works
      setTimeout(function(){
        console.log("removing 003183");
        var x = assets.remove(assets.get('003183'));
        setTimeout(function(){
          console.log("adding 003183");
          assets.add(x);
        },2000);
      },2000);

      // set up a websocket and listen for events from server for messages
      var primus = Primus.connect(window.location.href);
      primus.on('open',function(){
        //TODO case switch on message type. needs send semantics? (message, payload)
        console.log("sending hi");
        primus.send("hi");
      });
      primus.on("hello",function(m){
        console.log("got hello from server");
      });
      primus.on("ping",function(){
        console.log("got ping, sending pong");
        primus.send("pong");
      });

    });

  script(type='text/template')#asset-template
    div.span12.asset-view
      span <%= TAG %>
      span <%= HOSTNAME %>
      span <%= STATUS %>
      span <%= NODECLASS %>




